@import "./form";
.app {
  background-color: #a2bce0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// .DayPickerInput-OverlayWrapper {
//   padding: 1rem;
// }
.DayPicker-Months {
  flex-wrap: nowrap;
  padding: 5px;
  margin-left: 5px;
  //   margin-top: 2rem;
}

.DayPickerInput-OverlayWrapper {
  position: absolute;
  left: 30%;
  z-index: 3;
}
//HACK:passenger select btn
.psbtn {
  border-bottom: 1px solid grey;
  background-color: #f6f8fc;
}

//modal for passenger count
.passenger_container {
  position: relative;
  box-sizing: border-box;
}
.psmodal {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 1px rgba($color: #000000, $alpha: 0.2);
  position: absolute;
  top: 2.8rem;
  padding: 2rem;
  margin-left: -1rem !important;
  min-width: min(80vw, 500px);
  z-index: 2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.pscount {
  .right {
    background-color: #f6f8fc;
    width: 30%;
    height: 30%;
  }
}
.form-control-sm.no-spinner {
  min-width: 50% !important ;
  text-align: center;
  background-color: transparent;
}
@media screen and (min-width: 0px) {
  .DayPickerInput-OverlayWrapper {
    position: absolute;
    left: 0%;
  }
}
@media screen and (max-width: 570px) {
  .DayPicker-Months {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .DayPickerInput-OverlayWrapper {
    position: absolute;
    left: 28%;
  }
}
@media screen and (min-width: 1000px) {
  .DayPickerInput-OverlayWrapper {
    position: absolute;
    left: 45%;
  }
}
